.jumbotron {
  background-color: tan !important;
  text-align: center;
}

.form-control {
  text-align: center;
  border-color: tan !important;
}

.search{
  background-color: black !important;
}

.saved {
  background-color: black !important;
}

.card {
  color: tan !important;
  border-color: tan !important;
  background-color: transparent !important;
  margin-bottom: 10px;
}

.card-img-left {
  margin-right: 20px;
}

.nav-link {
  color: tan !important;
}

body {
  background-color: black;
}